---
layout: page
title: Categorías
namespace: categorias
permalink: /categories/
---

<div class="hero--small">
  <div class="hero__wrap">
    <h1 class="hero__title">{% t titles.categories %}</h1>
  </div>
</div>
<main class="site__content">

  <div class="container">
    <div class="page-content" id="main">

<div>
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>

  </div>
</div>

</main>