<header class="header" itemscope itemtype="https://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        <div class="header__logo--container">
          {% include logo-hdcaicyt.svg %}
        </div>
      </a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
          {% for item in site.translations[site.lang].navigation %}
            {% if item.sublinks %}
              <div class="header__dropdown">
                <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
                  <span itemprop="name">{{ item.name }}</span>
                </a>
                <div class="header__dropdown-menu">
                {% for sub in item.sublinks %}
                  <a class="header__sublink" href="{{ sub.link | relative_url }}">{{ sub.name }}</a>
                {% endfor %}
                </div>
              </div>
            {% else %}
              <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
                <span itemprop="name">{{ item.name }}</span>
              </a>
            {% endif %}
          {% endfor %}

          {% if site.lang == "en" %}
            {% capture link %}{{page.namespace}} es{% endcapture %}
            <a class="header__link" href="{% tl {{ link }} %}">ES</a>
          {% else %}
            {% capture link %}{{page.namespace}} en{% endcapture %}
            <a class="header__link" href="{% tl {{ link }} %}">EN</a>
          {% endif %}

        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
