<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        <div class="header__logo--container">
          {% include logo-hdcaicyt.svg %}
        </div>
      </a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
          <!-- {% for item in site.navigation %}
            <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
              <span itemprop="name">{{ item.name }}</span>
            </a>
          {% endfor %} -->
          <a class="header__link" href="/novedades" itemprop="url">
            <span itemprop="name">Novedades</span>
          </a>
          <div class="header__link dropdown">
            <a class="dropdown__link" href="/investigacion">Investigacion</a>
            <div class="dropdown-content">
                <a class="dropdown-item" href="/proyectos">Proyectos</a>
                <a class="dropdown-item" href="/cursosyeventos">Cursos y eventos</a>
                <a class="dropdown-item" href="/publicaciones">Publicaciones</a>
            </div>
          </div>
          <a class="header__link" href="/biblioteca-digital" itemprop="url">
            <span itemprop="name">Biblioteca Digital</span>
          </a>
          <a class="header__link" href="/contacto" itemprop="url">
            <span itemprop="name">Contacto</span>
          </a>
          <a class="header__link" href="/equipo" itemprop="url">
            <span itemprop="name">Equipo</span>
          </a>
          <a class="header__link" href="/buscar" itemprop="url">
            <span itemprop="name">Buscar</span>
          </a>
        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
