---
sitemap: false
---


/* 
* COLOR.
* 
* Make sure to leave color-scheme in config file empty for granular control
* 
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;


/*
 * Container
 *
 * Center the page content.
 */

.container{padding-top:30px;margin:0 auto;max-width:100%}
@media only screen and (min-width: 36em){.container{margin:0 auto;max-width:540px}}
@media only screen and (min-width: 48em){.container{margin:0 auto;max-width:720px}}
@media only screen and (min-width: 62em){.container{margin:0 auto;max-width:960px}}
@media only screen and (min-width: 75em){.container{margin:0 auto;max-width:1280px}}

.page-content{margin:0 auto;padding-top:1.5em 0;max-width:100%}
@media only screen and (min-width: 48em){.page-content{padding:1.75rem 0}}


/* Headings */

h2, h3, h4, h5, h6 {
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, sans-serif;
  margin-bottom: 1em;
  font-weight: 300;
  color: $heading-color;
  letter-spacing: -.025rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}


h2 {
	margin-top: 2rem;
	font-size: 2.5rem;
  margin-bottom: 2rem;
}

h3, h4, h5 {
	font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;

}

h4, h5, h6 {
  margin-top: 1rem;
}

/* Body text */
p {
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: justify;
}

p.small {
  font-size: 0.8rem;
}

/* Horizontal ruler */

hr {
  margin-top: 60px;
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

/* Search Highlighting */

mark {
    color: white;
    background-color: #841212;
}


div.toc {
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, sans-serif;
  margin-bottom: 4rem;
}

div.column-text {
  margin-bottom: 1rem;
  margin-left: 1em;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

